* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

body {
  background: linear-gradient(180deg, #EB4460 50%, #162447 50%);
  height: 100vh;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "data form";
  grid-column-gap: 3rem;
  max-height: 470px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .container {
    width: 90%;
  }

  .main {
    grid-column-gap: 2rem;
  }
}
@media (max-width: 1126px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-areas: "data";
  }
}
.header-bar {
  display: flex;
  justify-content: space-between;
}

.title {
  color: white;
  margin: 33px 0;
  font-weight: 400;
  font-size: 43px;
}
@media (max-width: 700px) {
  .title {
    font-size: 35px;
  }
}
@media (max-width: 600px) {
  .title {
    font-size: 28px;
  }
}
@media (max-width: 345px) {
  .title {
    font-size: 22px;
  }
}

.form-user {
  background-color: #1F4068;
  border-radius: 10px;
  box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.2);
  grid-area: form;
}

.form-inside {
  margin: 40px;
  display: flex;
  flex-direction: column;
}

label {
  color: white;
  margin-bottom: 3px;
}

label:nth-child(2n+3) {
  color: white;
  margin-top: 15px;
}

input {
  background-color: #162447;
  outline: none;
  border-style: none;
  height: 25px;
  border-radius: 5px;
  color: #8191BC;
  padding: 5px;
  font-size: 16px;
}
input:focus {
  border-bottom: 2px solid #EB4460;
}

@media (max-width: 1126px) {
  .form-user {
    display: none;
    transition: all 1s;
  }

  .form-menu {
    background-color: #1F4068;
    border-radius: 10px;
    box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.25);
    grid-area: form;
    padding: 10px 0px;
    padding-bottom: 10px;
    transition: all 1s;
  }

  .form-inside {
    margin: 25px;
    display: flex;
    flex-direction: column;
  }
}
.table-container {
  overflow: auto;
  max-height: 500px;
  height: 75vh;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  background-color: #1F4068;
  grid-area: data;
}

.table-data {
  width: 100%;
  color: white;
  font-size: 14px;
  text-align: left;
  border-collapse: collapse;
  overflow: auto;
}
.table-data .table-sticky th {
  position: sticky;
  z-index: 40;
  top: 0px;
  background-color: #1B1B2F;
}
.table-data th, .table-data td {
  padding: 10px 5px;
}
.table-data tr:hover {
  background-color: #1B1B2F;
}
.table-data tbody {
  background-color: #1F4068;
}

@media (max-width: 700px) {
  .table-sticky th {
    min-width: 18vh;
  }
}
@media (max-width: 375px) {
  .table-sticky th {
    min-width: 16.5vh;
  }
}
@media (max-width: 1106px) {
  thead tr {
    width: auto;
  }
}
.icon-edit {
  filter: invert(1);
  font-size: 16px;
  height: 20px;
  z-index: 0;
  position: relative;
  margin-left: 0.4rem;
}
.icon-edit:hover {
  filter: invert(47%) sepia(64%) saturate(6340%) hue-rotate(330deg) brightness(101%) contrast(84%);
  cursor: pointer;
}

.icon-remove {
  filter: invert(1);
  font-size: 16px;
  height: 20px;
  z-index: 0;
  position: relative;
  margin-left: 0.9rem;
}
.icon-remove:hover {
  filter: invert(47%) sepia(64%) saturate(6340%) hue-rotate(330deg) brightness(101%) contrast(84%);
  cursor: pointer;
}

.button-submit {
  background-color: #EB4460;
  border-style: none;
  appearance: none;
  margin-top: 25px;
  color: white;
  border-radius: 10px;
  height: 35px;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
}
.button-submit:hover {
  background-color: #D24058;
}

.menu {
  height: 20px;
  z-index: 30;
  margin-top: 3.2rem;
  filter: invert(1);
  cursor: pointer;
}
@media (max-width: 700px) {
  .menu {
    margin-top: 2.9rem;
  }
}
@media (max-width: 600px) {
  .menu {
    margin-top: 2.5rem;
  }
}
@media (max-width: 345px) {
  .menu {
    margin-top: 2.3rem;
  }
}

.menu-container {
  position: fixed;
  right: 0;
  z-index: 50;
  width: 60%;
  background-color: #EB4460;
  height: 100vh;
  box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.9);
  transition: all 0.4s ease-out;
  padding: 60px;
}
@media (max-width: 700px) {
  .menu-container {
    width: 71%;
  }
}
@media (max-width: 600px) {
  .menu-container {
    padding: 40px;
  }
}
@media (max-width: 530px) {
  .menu-container {
    width: 80%;
  }
}
@media (max-width: 400px) {
  .menu-container {
    width: 90%;
    padding: 30px;
  }
}

.hidden {
  transform: translateX(700px);
  transition: all 0.35s ease-in;
  opacity: 0.1;
}

.close {
  position: relative;
}

.close-menu {
  display: flex;
  justify-content: flex-end;
  color: white;
  position: absolute;
  right: 10px;
  top: 3px;
  font-size: 25px;
}
.close-menu:hover {
  cursor: pointer;
}

@media (min-width: 1126px) {
  .menu, .menu-container {
    display: none;
  }
}
.alert-main {
  position: relative;
}

@keyframes fade-left {
  to {
    transform: scale(0);
    opacity: 0;
  }
  from {
    transform: scale(1);
    opacity: 0.8;
  }
}
.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  padding: 0.4em;
  background-color: #FFC6CF;
  color: red;
  animation: 0.3s ease-in fade-left alternate-reverse;
  margin-top: 1.6rem;
  border: 2px solid red;
  opacity: 0.8;
  font-size: 15px;
}
@media (max-width: 1126px) {
  .alert {
    top: 40px;
  }
}

.alert-success {
  background-color: #a1f5cb;
  color: #316C2E;
  padding: 0.8rem;
  font-weight: 450;
  position: fixed;
  top: 4.5vh;
  border: 2.3px solid #34BC2D;
  opacity: 0.85;
  border-radius: 10px;
  z-index: 90;
  animation: 0.5s up ease-in alternate-reverse;
}

@keyframes up {
  to {
    top: -20px;
    opacity: 0;
  }
  from {
    top: 4.5vh;
    opacity: 0.85;
  }
}
.msg-parent {
  position: relative;
  top: 0.6em;
}

.msg-delete {
  background-color: #7175a3;
  color: white;
  padding: 0.8895em 0.4em;
  position: absolute;
  border-radius: 5px;
  right: -5px;
  font-size: 0.82em;
  z-index: 80;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.spinner {
  width: 2rem;
  height: 2rem;
  border: 2px solid #162447;
  border-radius: 50%;
  border-top: 2px solid #EB4460;
  animation: 0.9s spinner infinite;
  -webkit-animation: 1s spinner infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
  from {
    transform: rotate(0deg);
  }
}
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 0.85;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 0.85;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms linear;
}

/*# sourceMappingURL=styles.css.map */
